{{#partial "content"}}
    <h1>About Page....</h1>
    <p>
        Join us at Epicodus for our free StartUp App. This App is intended for beginners interested in programming.
        We love to connect and stay connected, you'll have the opportunity to meet some of our instructors,
        get a feel for Developer's unique work and learning environment and gain a solid understanding of web design
        and web development. We look forward to seeing you at our partnering Events!
    </p>
{{/partial}}

{{#partial "footer"}}
    <p> We are happy to have you on our site!</p>
{{/partial}}

{{> layout.hbs}}