{{#partial "content"}}

    <h1>Startup Event list!</h1>

    {{#if events}}
        {{#each events }}
            <div class="col-md-6">
                <p><a href="/event/{{id}}">{{name}}</a></p>

            </div>
        {{/each}}
    {{else}}
        <p>No Events Available!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}